@import url("https://fonts.cdnfonts.com/css/inter");

body {
  background: #f4d3d3;
  color: #0f0f0f;
  font-family: "Inter", sans-serif;
  min-height: 100dvh;
  width: 100vw;
  margin: 0;
  box-sizing: border-box;
}

nav{
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  padding: 4px 8px;
  background: #fab0b0;
}

nav ul{
  list-style: none;
}

nav ul li{
  display: inline-block;
}

nav ul li a{
  display: block;
  padding: 6px 12px;
  background: #f58a8a;
  text-transform: uppercase;
}

main {
  padding: 1rem;
  text-align: center;
}

.teachers {
  width: calc(100% - 2rem);
  background: #fab0b0;
  border: 2px solid #f58a8a;
  border-radius: 8px;
  height: 40vh;
  margin: 1rem auto;
}

.students {
  width: calc(100% - 3rem);
  background: #fab0b0;
  border: 2px solid #f58a8a;
  border-radius: 8px;
  height: 60vh;
  margin: 1rem auto;
}
