<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DEPARTMENT</title>
    <style>
      @import url("css/main.css");
    </style>
  </head>
  <body>
    <main>
      <h1><%= title %></h1>
      <p><%= description %></p>
      <center class="teachers"></center>
      <center class="students"></center>
    </main>
  </body>
</html>
