<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>HOME</title>
  <style>
    @import url("css/main.css");
    @import url("css/index.css");
  </style>
</head>

<body>
  <%#- include('../partials/header') %>

    <main>
      <h1>
        <%= title %>
      </h1>
      <p>
        <%= description %>
      </p>

      <div class="nav">
        <h2>YOU CAN VISIT THE PAGES BELOW</h2>
        <ul>
          <li><a href="/teachers">teachers</a></li>
          <li><a href="/classes">classes</a></li>
          <li><a href="/attendance">attendance</a></li>
        </ul>
      </div>
    </main>
</body>

</html>