<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TEACHERS</title>
  <style>
    @import url("css/main.css");
    @import url("css/teachers.css");
  </style>
</head>

<body>
  <%- include('../partials/header') %>

    <main>
      <h1>
        <%= title %>
      </h1>
      <p>
        <%= description %>
      </p>
      <form action="/teacher-registration" method="post">
        <h2>Teacher Registration</h2>
        <div class="formcheck">
          <label for="name"> Full Name: </label>
          <input type="text" id="name" name="name" placeholder="Full Name" />
        </div>
        <!-- <div class="formcheck">
          <label for="idNumber"> Identification Number: </label>
          <input type="text" id="idNumber" name="idNumber" placeholder="Identification Number" />
        </div> -->
        <div class="formcheck">
          <label for="departmentCode"> Department Code: </label>
          <input type="text" id="departmentCode" name="departmentCode" placeholder="e.g COE, CE, MFT " />
        </div>
        <button type="submit">REGISTER</button>
      </form>
      <center class="teachers"></center>
    </main>
</body>

</html>